@mixin games {
  .games-container {
    height: 100vh;
    width: 100%;
    background: var(--background);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .parallax {
    background-attachment: fixed;
  }

  .games-content {
    position: relative;
    z-index: 9;
    & h2 {
      font-size: 40px;
    }
  }

  .games-stream {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: var(--background);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      opacity: 0.2;
      z-index: 3;
    }

    & .games-stream-content {
      display: flex;
      justify-content: space-between;
      gap: 100px;
      width: 1200px;
      height: 600px;
      padding: 36px;
      background-color: #414141c6;
      border-radius: 12px;
    }

    & hr {
      border-color: #808080;
    }
  }
}
