@mixin games {
  .games-container {
    height: 100vh;
    width: 100%;
    background: var(--background);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .parallax {
    background-attachment: fixed;
  }

  .games-content {
    position: relative;
    z-index: 9;
    & h2 {
      font-size: 40px;
    }
  }
}
